<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 其他设置 -->
    <settings>
        <!-- 使用新生成记录的主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 数据库: my_first_name -> Java: myFirstName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>