<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderZsq.rbac.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.coderZsq.rbac.domain.Role">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from role
    where id = #{id}
  </delete>
  <delete id="deleteRelation">
    delete  from role_permission
    where role_id=#{roleId}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into role (name, sn)
    values (#{name}, #{sn})
  </insert>
    <insert id="insertRelation">
      insert into role_permission(role_id,permission_id)
      values (#{roleId},#{permissionId})
    </insert>
    <update id="updateByPrimaryKey">
    update role
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn
    from role
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn
    from role
  </select>
  <select id="query" resultMap="BaseResultMap">
    select id, name, sn
    from role
  </select>
    <select id="queryByEmpId" resultMap="BaseResultMap">
      select r.*
      from role r LEFT JOIN  employee_role  er on r.id=er.role_id
      WHERE er.employee_id=#{empId}
    </select>
</mapper>