<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="person" class="com.sq.domain.Person" p:birthday="09_10_2111"/>

   <!-- 配置FactoryBean -->
   <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
      <property name="converters">
         <set>
            <bean class="com.sq.converter.DateConverter">
               <property name="formats">
                  <list>
                     <value>MM_dd_yyyy</value>
                     <value>yyyy-MM-dd</value>
                  </list>
               </property>
            </bean>
         </set>
      </property>
   </bean>
</beans>