<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.mybatis.hello.mapper.TeacherMapper">


	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO teacher (name) VALUES (#{name})
	</insert>
	
	
	<select id="selectByStudentId" resultType="Teacher">
		SELECT t.id,t.name
		FROM teacher t JOIN student_teacher st ON t.id = st.teacher_id
		WHERE st.student_id = #{studentId}
	</select>
</mapper>