<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div th:text="${person.id}"></div>
    <div th:text="${person.name}"></div>
</div>

<hr>

<div th:object="${person}">
    <div th:text="*{id}"></div>
    <div th:text="*{name}"></div>
</div>

<div>
    <div th:text="*{person.id}"></div>
    <div th:text="*{person.name}"></div>
</div>

<div th:object="${person}">
    <div th:text="*{#object.id}"></div>
    <div th:text="${#object.name}"></div>
</div>

</body>
</html>