spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: dev

mybatis-plus:
  type-aliases-package: com.sq.jk.pojo
