<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.resume.dao.ProjectsMapper" >
  <resultMap id="BaseResultMap" type="com.resume.pojo.Projects" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="src" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="href" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text3" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, src, href, name, description, text1, text2, text3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resume_projects
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resume_projects
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.resume.pojo.Projects" >
    insert into resume_projects (id, src, href, 
      name, description, text1, 
      text2, text3)
    values (#{id,jdbcType=INTEGER}, #{src,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{text1,jdbcType=VARCHAR}, 
      #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.resume.pojo.Projects" >
    insert into resume_projects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="text1 != null" >
        text1,
      </if>
      <if test="text2 != null" >
        text2,
      </if>
      <if test="text3 != null" >
        text3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null" >
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null" >
        #{text3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resume.pojo.Projects" >
    update resume_projects
    <set >
      <if test="src != null" >
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null" >
        text1 = #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        text2 = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null" >
        text3 = #{text3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resume.pojo.Projects" >
    update resume_projects
    set src = #{src,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      text1 = #{text1,jdbcType=VARCHAR},
      text2 = #{text2,jdbcType=VARCHAR},
      text3 = #{text3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllProjects" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resume_projects
  </select>
</mapper>