<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="false">
    <!--web的配置-->
    <!--在告诉Tomcat来管理Servlet类-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.coderZsq._01_hello.HelloServlet</servlet-class>
    </servlet>
    <!--向外暴露该Servlet类的一个资源名称, 供外界直接访问, 该资源名称必须以 / 开头-->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitParamServlet</servlet-name>
        <servlet-class>com.coderZsq._02_initparam.InitParamServlet</servlet-class>
        <!--初始化参数-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>Castie!</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitParamServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.coderZsq._03_extends.Servlet1</servlet-class>
        <!--初始化参数-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.coderZsq._03_extends.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MappingServlet</servlet-name>
        <servlet-class>com.coderZsq._09_mapping.MappingServlet</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>coderZsq</param-value>
        </init-param>
        <!-- 在启动服务器的时候, 就加载, 值越小越优先加载-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingServlet</servlet-name>
        <url-pattern>/mapping</url-pattern>
        <url-pattern>/m1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingServlet</servlet-name>
        <url-pattern>/m2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingServlet</servlet-name>
        <!-- <url-pattern>/*</url-pattern>-->
        <url-pattern>/system/*</url-pattern>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>hello.html</welcome-file>
    </welcome-file-list>
</web-app>
