<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hesj.demo.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.hesj.demo.domain.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sn" property="sn"/>
    </resultMap>
    <delete id="delete">
      delete  from department where id=#{id}
    </delete>

    <select id="selectByPrimarykey" resultMap="BaseResultMap">
        select id,name,sn
        from department
        where id=#{id}
    </select>

</mapper>